docs/workflows/examples/ai-content-generation.json
[
  {
    "id": "flow-ai-content",
    "type": "tab",
    "label": "AI Content Generation",
    "info": "Generate blog content using AI agents and publish to CMS",
    "disabled": false
  },
  {
    "id": "schedule-trigger",
    "type": "inject",
    "z": "flow-ai-content",
    "name": "Weekly Schedule",
    "props": [
      { "p": "topic", "v": "", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "0 9 * * 1",
    "once": false,
    "topic": "Generate weekly blog post",
    "x": 150,
    "y": 100,
    "wires": [["get-trending-topics"]]
  },
  {
    "id": "manual-trigger",
    "type": "inject",
    "z": "flow-ai-content",
    "name": "Manual Trigger",
    "props": [
      { "p": "topic", "v": "How to set up AI agents for your SaaS team", "vt": "str" }
    ],
    "repeat": "",
    "once": false,
    "topic": "",
    "x": 150,
    "y": 160,
    "wires": [["research-topic"]]
  },
  {
    "id": "get-trending-topics",
    "type": "synthstack-agent",
    "z": "flow-ai-content",
    "name": "Get Trending Topics",
    "agent": "cmo",
    "prompt": "Analyze current trends in AI-native SaaS and suggest 3 blog post topics that would resonate with our audience. Return as JSON array.",
    "x": 370,
    "y": 100,
    "wires": [["select-topic"], ["log-error"]]
  },
  {
    "id": "select-topic",
    "type": "function",
    "z": "flow-ai-content",
    "name": "Select Topic",
    "func": "// Parse topics and select the first one\nconst topics = JSON.parse(msg.payload.response);\nmsg.topic = topics[0].title;\nmsg.topicDetails = topics[0];\nreturn msg;",
    "outputs": 1,
    "x": 570,
    "y": 100,
    "wires": [["research-topic"]]
  },
  {
    "id": "research-topic",
    "type": "synthstack-kb-search",
    "z": "flow-ai-content",
    "name": "Research from KB",
    "collectionName": "blog-research",
    "topK": 10,
    "x": 570,
    "y": 160,
    "wires": [["generate-outline"], ["log-error"]]
  },
  {
    "id": "generate-outline",
    "type": "synthstack-agent",
    "z": "flow-ai-content",
    "name": "Generate Outline",
    "agent": "cmo",
    "prompt": "Create a detailed blog post outline for: {{msg.topic}}\n\nContext from our knowledge base:\n{{msg.context}}\n\nInclude:\n- Engaging title\n- Introduction hook\n- 4-5 main sections\n- Conclusion with CTA",
    "x": 770,
    "y": 160,
    "wires": [["generate-content"], ["log-error"]]
  },
  {
    "id": "generate-content",
    "type": "synthstack-agent",
    "z": "flow-ai-content",
    "name": "Write Full Content",
    "agent": "cmo",
    "prompt": "Write a complete blog post following this outline:\n\n{{msg.payload.response}}\n\nRequirements:\n- 1500-2000 words\n- SEO optimized\n- Include practical tips\n- Friendly, expert tone\n- Format in markdown",
    "x": 970,
    "y": 160,
    "wires": [["format-for-cms"], ["log-error"]]
  },
  {
    "id": "format-for-cms",
    "type": "function",
    "z": "flow-ai-content",
    "name": "Format for CMS",
    "func": "const content = msg.payload.response;\n\n// Extract title from markdown\nconst titleMatch = content.match(/^#\\s+(.+)$/m);\nconst title = titleMatch ? titleMatch[1] : msg.topic;\n\n// Generate slug\nconst slug = title.toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/(^-|-$)/g, '');\n\n// Extract excerpt (first paragraph)\nconst excerptMatch = content.match(/^(?!#)(.+)$/m);\nconst excerpt = excerptMatch ? excerptMatch[1].slice(0, 200) + '...' : '';\n\nmsg.payload = {\n  status: 'draft',\n  title: title,\n  slug: slug,\n  content: content,\n  excerpt: excerpt,\n  category: 'guides',\n  tags: ['synthstack', 'saas', 'ai-agents'],\n  seo_title: title,\n  seo_description: excerpt,\n  date_created: new Date().toISOString()\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 1170,
    "y": 160,
    "wires": [["save-to-cms"]]
  },
  {
    "id": "save-to-cms",
    "type": "synthstack-directus",
    "z": "flow-ai-content",
    "name": "Save to Blog Posts",
    "operation": "create",
    "collection": "blog_posts",
    "x": 1370,
    "y": 160,
    "wires": [["notify-team"], ["log-error"]]
  },
  {
    "id": "notify-team",
    "type": "synthstack-slack",
    "z": "flow-ai-content",
    "name": "Notify Content Team",
    "operation": "sendMessage",
    "channel": "#content",
    "text": "📝 New blog post draft ready for review!\n\n*{{msg.payload.title}}*\n\nEdit: {{env.APP_URL}}/admin/content/blog_posts/{{msg.payload.id}}",
    "x": 1570,
    "y": 160,
    "wires": [["log-success"], ["log-error"]]
  },
  {
    "id": "log-success",
    "type": "debug",
    "z": "flow-ai-content",
    "name": "Success",
    "active": true,
    "complete": "payload",
    "x": 1770,
    "y": 140,
    "wires": []
  },
  {
    "id": "log-error",
    "type": "debug",
    "z": "flow-ai-content",
    "name": "Error",
    "active": true,
    "complete": "error",
    "x": 1770,
    "y": 200,
    "wires": []
  }
]

