docs/workflows/examples/ai-chat-test.json
[
    {
        "id": "ai-chat-test-flow",
        "type": "tab",
        "label": "AI Chat Test",
        "disabled": false,
        "info": "Test your AI agent connection with this simple workflow.\n\nRequirements:\n- OpenAI or Anthropic API key configured in Settings > Integrations\n\nThis flow sends a prompt to your AI agent and displays the response.",
        "env": []
    },
    {
        "id": "inject-prompt",
        "type": "inject",
        "z": "ai-chat-test-flow",
        "name": "Test Prompt",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What are the top 3 priorities for a SaaS startup this quarter? Keep it brief.",
        "payloadType": "str",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "agent-node"
            ]
        ]
    },
    {
        "id": "agent-node",
        "type": "synthstack-agent",
        "z": "ai-chat-test-flow",
        "name": "AI Agent",
        "agent": "ceo",
        "model": "gpt-4o-mini",
        "temperature": 0.7,
        "maxTokens": 500,
        "systemPrompt": "",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "format-response",
                "debug-raw"
            ]
        ]
    },
    {
        "id": "format-response",
        "type": "function",
        "z": "ai-chat-test-flow",
        "name": "Format Response",
        "func": "// Extract the AI response\nconst response = msg.payload;\n\nmsg.payload = {\n    success: true,\n    agent: msg.agent || 'CEO',\n    model: msg.model || 'gpt-4o-mini',\n    prompt: msg.originalPrompt || 'Test prompt',\n    response: response,\n    timestamp: new Date().toISOString(),\n    tokensUsed: msg.usage?.total_tokens || 'N/A'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "debug-formatted"
            ]
        ]
    },
    {
        "id": "debug-raw",
        "type": "debug",
        "z": "ai-chat-test-flow",
        "name": "Raw Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug-formatted",
        "type": "debug",
        "z": "ai-chat-test-flow",
        "name": "AI Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.response",
        "targetType": "msg",
        "statusVal": "payload.success",
        "statusType": "auto",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "comment-setup",
        "type": "comment",
        "z": "ai-chat-test-flow",
        "name": "Setup Instructions",
        "info": "## Before running:\n\n1. Go to Settings > Integrations\n2. Add your OpenAI or Anthropic API key\n3. Return here and click the Test Prompt button\n\n## Customization:\n\n- Double-click the AI Agent node to change:\n  - Agent type (CEO, CTO, CMO, etc.)\n  - Model (gpt-4o, claude-3-sonnet, etc.)\n  - Temperature and max tokens\n\n- Edit the Inject node to change the prompt",
        "x": 170,
        "y": 220,
        "wires": []
    }
]


