docs/workflows/examples/daily-summary.json
[
    {
        "id": "daily-summary-flow",
        "type": "tab",
        "label": "Daily AI Summary",
        "disabled": false,
        "info": "Generate and send daily AI-powered summary reports.\n\nRequirements:\n- OpenAI or Anthropic API key\n- Slack or Email integration (optional)\n\nThis flow runs daily at 9 AM and generates a summary report.",
        "env": []
    },
    {
        "id": "schedule-trigger",
        "type": "inject",
        "z": "daily-summary-flow",
        "name": "Daily 9 AM",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "0 9 * * 1-5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "gather-data"
            ]
        ]
    },
    {
        "id": "manual-trigger",
        "type": "inject",
        "z": "daily-summary-flow",
        "name": "Run Now",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "gather-data"
            ]
        ]
    },
    {
        "id": "gather-data",
        "type": "function",
        "z": "daily-summary-flow",
        "name": "Gather Data",
        "func": "// Simulate gathering data for the summary\n// In production, you'd query your database or APIs here\n\nconst today = new Date();\nconst dateStr = today.toLocaleDateString('en-US', { \n    weekday: 'long', \n    year: 'numeric', \n    month: 'long', \n    day: 'numeric' \n});\n\nmsg.reportDate = dateStr;\nmsg.payload = {\n    date: dateStr,\n    metrics: {\n        newUsers: Math.floor(Math.random() * 50) + 10,\n        activeUsers: Math.floor(Math.random() * 200) + 100,\n        revenue: (Math.random() * 5000 + 1000).toFixed(2),\n        conversions: Math.floor(Math.random() * 20) + 5\n    },\n    topEvents: [\n        'User signup spike at 2 PM',\n        'New feature launched: Workflow Templates',\n        '3 support tickets resolved'\n    ],\n    alerts: [\n        'API latency slightly elevated'\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [
            [
                "ai-summarize"
            ]
        ]
    },
    {
        "id": "ai-summarize",
        "type": "synthstack-agent",
        "z": "daily-summary-flow",
        "name": "AI Summarize",
        "agent": "ceo",
        "model": "gpt-4o-mini",
        "temperature": 0.7,
        "maxTokens": 800,
        "systemPrompt": "You are a business analyst creating a daily summary report. Be concise, highlight key insights, and suggest 2-3 action items.",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "format-report"
            ]
        ]
    },
    {
        "id": "format-report",
        "type": "function",
        "z": "daily-summary-flow",
        "name": "Format Report",
        "func": "const data = msg.originalPayload || {};\nconst summary = msg.payload;\nconst date = msg.reportDate;\n\nmsg.report = {\n    title: `📊 Daily Summary - ${date}`,\n    summary: summary,\n    metrics: data.metrics,\n    generatedAt: new Date().toISOString()\n};\n\n// Format for Slack\nmsg.slackMessage = {\n    channel: '#daily-reports',\n    text: `📊 Daily Summary - ${date}`,\n    blocks: [\n        {\n            type: 'header',\n            text: {\n                type: 'plain_text',\n                text: `📊 Daily Summary - ${date}`\n            }\n        },\n        {\n            type: 'section',\n            text: {\n                type: 'mrkdwn',\n                text: summary\n            }\n        },\n        {\n            type: 'divider'\n        },\n        {\n            type: 'context',\n            elements: [\n                {\n                    type: 'mrkdwn',\n                    text: `Generated by SynthStack AI at ${new Date().toLocaleTimeString()}`\n                }\n            ]\n        }\n    ]\n};\n\nmsg.payload = msg.slackMessage;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 120,
        "wires": [
            [
                "slack-send",
                "debug-report"
            ]
        ]
    },
    {
        "id": "slack-send",
        "type": "synthstack-slack",
        "z": "daily-summary-flow",
        "name": "Send to Slack",
        "operation": "postMessage",
        "channel": "#daily-reports",
        "x": 870,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "debug-report",
        "type": "debug",
        "z": "daily-summary-flow",
        "name": "View Report",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "report",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "comment-setup",
        "type": "comment",
        "z": "daily-summary-flow",
        "name": "Configuration",
        "info": "## Setup:\n\n1. Configure OpenAI/Anthropic API key\n2. Connect Slack (optional)\n3. Modify the schedule in \"Daily 9 AM\" node\n4. Change the Slack channel in \"Send to Slack\" node\n\n## Customization:\n\n- Edit \"Gather Data\" to pull from your actual data sources\n- Modify the AI prompt in \"AI Summarize\" node\n- Add email output for additional notifications",
        "x": 150,
        "y": 240,
        "wires": []
    }
]


