docs/workflows/examples/google-sheets-sync.json
{
  "id": "google-sheets-sync-flow",
  "label": "Google Sheets Sync",
  "info": "Bi-directional sync between CRM and Google Sheets",
  "nodes": [
    {
      "id": "trigger-crm",
      "type": "synthstack-trigger",
      "z": "google-sheets-sync-flow",
      "name": "Contact Updated",
      "triggerType": "directus_event",
      "collection": "contacts",
      "event": "items.update",
      "x": 150,
      "y": 100,
      "wires": [["transform-to-sheets"]]
    },
    {
      "id": "trigger-sheets",
      "type": "synthstack-trigger",
      "z": "google-sheets-sync-flow",
      "name": "Sheets Webhook",
      "triggerType": "webhook",
      "webhookPath": "/sync/sheets",
      "x": 150,
      "y": 300,
      "wires": [["transform-to-crm"]]
    },
    {
      "id": "schedule-sync",
      "type": "synthstack-trigger",
      "z": "google-sheets-sync-flow",
      "name": "Hourly Sync",
      "triggerType": "schedule",
      "schedule": "0 * * * *",
      "x": 150,
      "y": 200,
      "wires": [["read-sheets"]]
    },
    {
      "id": "transform-to-sheets",
      "type": "function",
      "z": "google-sheets-sync-flow",
      "name": "Transform for Sheets",
      "func": "const contact = msg.payload;\nmsg.sheetsData = {\n  spreadsheetId: env.get('CONTACTS_SHEET_ID'),\n  range: 'Contacts!A:G',\n  values: [[\n    contact.id,\n    contact.first_name,\n    contact.last_name,\n    contact.email,\n    contact.phone,\n    contact.company,\n    new Date().toISOString()\n  ]]\n};\nmsg.operation = 'findAndUpdate';\nreturn msg;",
      "outputs": 1,
      "x": 380,
      "y": 100,
      "wires": [["sheets-update"]]
    },
    {
      "id": "read-sheets",
      "type": "synthstack-gsheets",
      "z": "google-sheets-sync-flow",
      "name": "Read All Contacts",
      "operation": "readRows",
      "spreadsheetId": "{{env.CONTACTS_SHEET_ID}}",
      "range": "Contacts!A2:G",
      "x": 380,
      "y": 200,
      "wires": [["compare-data"]]
    },
    {
      "id": "compare-data",
      "type": "function",
      "z": "google-sheets-sync-flow",
      "name": "Find Changes",
      "func": "const rows = msg.payload.values || [];\nconst lastSync = global.get('lastSheetsSync') || new Date(0);\n\n// Filter rows modified since last sync (assuming column G is timestamp)\nconst changedRows = rows.filter(row => {\n  const rowTime = new Date(row[6]);\n  return rowTime > lastSync;\n});\n\nglobal.set('lastSheetsSync', new Date());\n\nif (changedRows.length === 0) {\n  node.status({ fill: 'grey', shape: 'ring', text: 'No changes' });\n  return null;\n}\n\nmsg.payload = changedRows.map(row => ({\n  id: row[0],\n  first_name: row[1],\n  last_name: row[2],\n  email: row[3],\n  phone: row[4],\n  company: row[5]\n}));\n\nnode.status({ fill: 'green', shape: 'dot', text: `${changedRows.length} changes` });\nreturn msg;",
      "outputs": 1,
      "x": 580,
      "y": 200,
      "wires": [["split-contacts"]]
    },
    {
      "id": "split-contacts",
      "type": "split",
      "z": "google-sheets-sync-flow",
      "name": "Split Contacts",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 760,
      "y": 200,
      "wires": [["upsert-crm"]]
    },
    {
      "id": "upsert-crm",
      "type": "synthstack-directus",
      "z": "google-sheets-sync-flow",
      "name": "Upsert to CRM",
      "operation": "upsert",
      "collection": "contacts",
      "x": 940,
      "y": 200,
      "wires": [["join-results"]]
    },
    {
      "id": "join-results",
      "type": "join",
      "z": "google-sheets-sync-flow",
      "name": "Join Results",
      "mode": "auto",
      "build": "array",
      "property": "payload",
      "propertyType": "msg",
      "timeout": "",
      "count": "",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": false,
      "x": 1110,
      "y": 200,
      "wires": [["log-sync"]]
    },
    {
      "id": "transform-to-crm",
      "type": "function",
      "z": "google-sheets-sync-flow",
      "name": "Transform for CRM",
      "func": "const sheetData = msg.payload;\nmsg.payload = {\n  id: sheetData.row_id,\n  first_name: sheetData.first_name,\n  last_name: sheetData.last_name,\n  email: sheetData.email,\n  phone: sheetData.phone,\n  company: sheetData.company,\n  source: 'sheets_sync'\n};\nreturn msg;",
      "outputs": 1,
      "x": 380,
      "y": 300,
      "wires": [["upsert-crm"]]
    },
    {
      "id": "sheets-update",
      "type": "synthstack-gsheets",
      "z": "google-sheets-sync-flow",
      "name": "Update Sheets",
      "operation": "updateRow",
      "x": 600,
      "y": 100,
      "wires": [["log-sync"]]
    },
    {
      "id": "log-sync",
      "type": "synthstack-directus",
      "z": "google-sheets-sync-flow",
      "name": "Log Sync",
      "operation": "create",
      "collection": "sync_logs",
      "x": 1280,
      "y": 200,
      "wires": [[]]
    }
  ]
}


