docs/workflows/examples/lead-notification.json
[
  {
    "id": "flow-lead-notification",
    "type": "tab",
    "label": "Lead Notification",
    "info": "Notify sales team when a new lead is captured",
    "disabled": false
  },
  {
    "id": "trigger-lead-created",
    "type": "synthstack-trigger",
    "z": "flow-lead-notification",
    "name": "New Lead Created",
    "triggerType": "directus_event",
    "collection": "leads",
    "event": "items.create",
    "x": 150,
    "y": 100,
    "wires": [["format-slack-message"]]
  },
  {
    "id": "format-slack-message",
    "type": "function",
    "z": "flow-lead-notification",
    "name": "Format Slack Message",
    "func": "const lead = msg.payload;\n\nmsg.payload = {\n  text: `🎯 New Lead Captured!`,\n  blocks: [\n    {\n      type: 'header',\n      text: {\n        type: 'plain_text',\n        text: '🎯 New Lead Captured!'\n      }\n    },\n    {\n      type: 'section',\n      fields: [\n        {\n          type: 'mrkdwn',\n          text: `*Name:*\\n${lead.name}`\n        },\n        {\n          type: 'mrkdwn',\n          text: `*Email:*\\n${lead.email}`\n        },\n        {\n          type: 'mrkdwn',\n          text: `*Company:*\\n${lead.company || 'N/A'}`\n        },\n        {\n          type: 'mrkdwn',\n          text: `*Source:*\\n${lead.source || 'Website'}`\n        }\n      ]\n    },\n    {\n      type: 'actions',\n      elements: [\n        {\n          type: 'button',\n          text: {\n            type: 'plain_text',\n            text: 'View in CRM'\n          },\n          url: `${env.get('APP_URL')}/app/leads/${lead.id}`\n        }\n      ]\n    }\n  ]\n};\n\nmsg.channel = '#sales';\nreturn msg;",
    "outputs": 1,
    "x": 370,
    "y": 100,
    "wires": [["send-slack-notification"]]
  },
  {
    "id": "send-slack-notification",
    "type": "synthstack-slack",
    "z": "flow-lead-notification",
    "name": "Send to Sales Channel",
    "operation": "sendMessage",
    "channel": "#sales",
    "x": 590,
    "y": 100,
    "wires": [["create-notion-task"], ["log-error"]]
  },
  {
    "id": "create-notion-task",
    "type": "synthstack-notion",
    "z": "flow-lead-notification",
    "name": "Create Follow-up Task",
    "operation": "createPage",
    "databaseId": "",
    "x": 810,
    "y": 100,
    "wires": [["log-success"], ["log-error"]]
  },
  {
    "id": "log-success",
    "type": "debug",
    "z": "flow-lead-notification",
    "name": "Success",
    "active": true,
    "console": false,
    "complete": "payload",
    "x": 1010,
    "y": 80,
    "wires": []
  },
  {
    "id": "log-error",
    "type": "debug",
    "z": "flow-lead-notification",
    "name": "Error",
    "active": true,
    "console": false,
    "complete": "error",
    "x": 1010,
    "y": 140,
    "wires": []
  }
]


