docs/workflows/examples/slack-notifications.json
{
  "id": "slack-notifications-flow",
  "label": "Slack Notifications",
  "info": "Multi-channel Slack notifications with rich formatting",
  "nodes": [
    {
      "id": "trigger-1",
      "type": "synthstack-trigger",
      "z": "slack-notifications-flow",
      "name": "Order Created",
      "triggerType": "directus_event",
      "collection": "orders",
      "event": "items.create",
      "x": 150,
      "y": 100,
      "wires": [["format-order"]]
    },
    {
      "id": "trigger-2",
      "type": "synthstack-trigger",
      "z": "slack-notifications-flow",
      "name": "Support Ticket",
      "triggerType": "directus_event",
      "collection": "support_tickets",
      "event": "items.create",
      "x": 150,
      "y": 200,
      "wires": [["format-ticket"]]
    },
    {
      "id": "trigger-3",
      "type": "synthstack-trigger",
      "z": "slack-notifications-flow",
      "name": "User Signup",
      "triggerType": "directus_event",
      "collection": "users",
      "event": "items.create",
      "x": 150,
      "y": 300,
      "wires": [["format-user"]]
    },
    {
      "id": "format-order",
      "type": "function",
      "z": "slack-notifications-flow",
      "name": "Format Order Message",
      "func": "const order = msg.payload;\nmsg.slackMessage = {\n  channel: '#sales',\n  blocks: [\n    {\n      type: 'header',\n      text: { type: 'plain_text', text: '🛒 New Order Received!' }\n    },\n    {\n      type: 'section',\n      fields: [\n        { type: 'mrkdwn', text: `*Order ID:*\\n${order.id}` },\n        { type: 'mrkdwn', text: `*Amount:*\\n$${order.total}` },\n        { type: 'mrkdwn', text: `*Customer:*\\n${order.customer_name}` },\n        { type: 'mrkdwn', text: `*Status:*\\n${order.status}` }\n      ]\n    },\n    {\n      type: 'actions',\n      elements: [\n        {\n          type: 'button',\n          text: { type: 'plain_text', text: 'View Order' },\n          url: `https://app.synthstack.app/orders/${order.id}`\n        }\n      ]\n    }\n  ]\n};\nreturn msg;",
      "outputs": 1,
      "x": 380,
      "y": 100,
      "wires": [["slack-send"]]
    },
    {
      "id": "format-ticket",
      "type": "function",
      "z": "slack-notifications-flow",
      "name": "Format Ticket Message",
      "func": "const ticket = msg.payload;\nconst priorityEmoji = {\n  high: '🔴',\n  medium: '🟡',\n  low: '🟢'\n};\nmsg.slackMessage = {\n  channel: '#support',\n  blocks: [\n    {\n      type: 'header',\n      text: { type: 'plain_text', text: `${priorityEmoji[ticket.priority] || '⚪'} Support Ticket #${ticket.id}` }\n    },\n    {\n      type: 'section',\n      text: { type: 'mrkdwn', text: `*Subject:* ${ticket.subject}\\n\\n${ticket.description.substring(0, 200)}...` }\n    },\n    {\n      type: 'context',\n      elements: [\n        { type: 'mrkdwn', text: `*From:* ${ticket.customer_email}` },\n        { type: 'mrkdwn', text: `*Priority:* ${ticket.priority}` }\n      ]\n    },\n    {\n      type: 'actions',\n      elements: [\n        {\n          type: 'button',\n          text: { type: 'plain_text', text: 'View Ticket' },\n          style: 'primary',\n          url: `https://app.synthstack.app/support/${ticket.id}`\n        },\n        {\n          type: 'button',\n          text: { type: 'plain_text', text: 'Assign to Me' },\n          action_id: `assign_ticket_${ticket.id}`\n        }\n      ]\n    }\n  ]\n};\nreturn msg;",
      "outputs": 1,
      "x": 380,
      "y": 200,
      "wires": [["slack-send"]]
    },
    {
      "id": "format-user",
      "type": "function",
      "z": "slack-notifications-flow",
      "name": "Format User Message",
      "func": "const user = msg.payload;\nmsg.slackMessage = {\n  channel: '#growth',\n  blocks: [\n    {\n      type: 'section',\n      text: { type: 'mrkdwn', text: `🎉 *New user signup!*\\n\\n*${user.first_name} ${user.last_name}* just joined SynthStack.` }\n    },\n    {\n      type: 'context',\n      elements: [\n        { type: 'mrkdwn', text: `📧 ${user.email}` },\n        { type: 'mrkdwn', text: `🏢 ${user.company || 'N/A'}` },\n        { type: 'mrkdwn', text: `📍 ${user.source || 'Direct'}` }\n      ]\n    }\n  ]\n};\nreturn msg;",
      "outputs": 1,
      "x": 380,
      "y": 300,
      "wires": [["slack-send"]]
    },
    {
      "id": "slack-send",
      "type": "synthstack-slack",
      "z": "slack-notifications-flow",
      "name": "Send to Slack",
      "operation": "postMessage",
      "x": 620,
      "y": 200,
      "wires": [["log-success"], ["log-error"]]
    },
    {
      "id": "log-success",
      "type": "debug",
      "z": "slack-notifications-flow",
      "name": "Success",
      "active": true,
      "console": false,
      "complete": "payload",
      "x": 810,
      "y": 160,
      "wires": []
    },
    {
      "id": "log-error",
      "type": "debug",
      "z": "slack-notifications-flow",
      "name": "Error",
      "active": true,
      "console": false,
      "complete": "error",
      "x": 810,
      "y": 240,
      "wires": []
    }
  ]
}


