docs/workflows/examples/webhook-to-slack.json
[
    {
        "id": "webhook-slack-flow",
        "type": "tab",
        "label": "Webhook to Slack",
        "disabled": false,
        "info": "Receive webhooks and send notifications to Slack.\n\nRequirements:\n- Slack connected in Settings > Integrations\n\nThis flow:\n1. Receives incoming webhooks\n2. Formats the data\n3. Sends a notification to Slack",
        "env": []
    },
    {
        "id": "http-in-webhook",
        "type": "http in",
        "z": "webhook-slack-flow",
        "name": "Webhook Endpoint",
        "url": "/webhook/notify",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "validate-payload"
            ]
        ]
    },
    {
        "id": "validate-payload",
        "type": "function",
        "z": "webhook-slack-flow",
        "name": "Validate & Format",
        "func": "// Validate incoming webhook data\nconst data = msg.payload;\n\nif (!data || typeof data !== 'object') {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid payload' };\n    return [null, msg];\n}\n\n// Format for Slack\nmsg.slackMessage = {\n    channel: '#notifications', // Change to your channel\n    text: `📬 New Webhook Received`,\n    blocks: [\n        {\n            type: 'header',\n            text: {\n                type: 'plain_text',\n                text: '📬 Webhook Notification'\n            }\n        },\n        {\n            type: 'section',\n            fields: [\n                {\n                    type: 'mrkdwn',\n                    text: `*Event:* ${data.event || 'Unknown'}`\n                },\n                {\n                    type: 'mrkdwn',\n                    text: `*Time:* ${new Date().toLocaleString()}`\n                }\n            ]\n        },\n        {\n            type: 'section',\n            text: {\n                type: 'mrkdwn',\n                text: `*Data:*\\n\\`\\`\\`${JSON.stringify(data, null, 2).slice(0, 500)}\\`\\`\\``\n            }\n        }\n    ]\n};\n\nmsg.payload = msg.slackMessage;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "slack-post"
            ],
            [
                "http-error-response"
            ]
        ],
        "outputLabels": [
            "Valid",
            "Invalid"
        ]
    },
    {
        "id": "slack-post",
        "type": "synthstack-slack",
        "z": "webhook-slack-flow",
        "name": "Send to Slack",
        "operation": "postMessage",
        "channel": "#notifications",
        "x": 570,
        "y": 80,
        "wires": [
            [
                "http-success-response"
            ]
        ]
    },
    {
        "id": "http-success-response",
        "type": "http response",
        "z": "webhook-slack-flow",
        "name": "Success Response",
        "statusCode": "200",
        "headers": {},
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "http-error-response",
        "type": "http response",
        "z": "webhook-slack-flow",
        "name": "Error Response",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "inject-test",
        "type": "inject",
        "z": "webhook-slack-flow",
        "name": "Test Webhook",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"event\":\"test\",\"message\":\"This is a test webhook\",\"user\":\"demo@example.com\"}",
        "payloadType": "json",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "validate-payload"
            ]
        ]
    },
    {
        "id": "comment-instructions",
        "type": "comment",
        "z": "webhook-slack-flow",
        "name": "Setup Instructions",
        "info": "## Configuration:\n\n1. Connect Slack in Settings > Integrations\n2. Change the channel in the Slack node (default: #notifications)\n3. Deploy the flow\n\n## Testing:\n\n- Click \"Test Webhook\" to simulate a webhook\n- Or send a POST request to: /api/nodered/webhook/notify\n\n## Webhook URL:\n\nYour webhook endpoint will be:\n`https://app.synthstack.app/api/nodered/webhook/notify`",
        "x": 170,
        "y": 260,
        "wires": []
    }
]


